publication_year/code/src/__pycache__/
publication_year/code/test/__pycache__/
publication_year/code/src/test.py
publication_year/code/src/venv_name/
.vscode/
publication_year/diagrams/editor/concept.asta.lock
publication_year/diagrams/export/activity.png.bak
publication_year/diagrams/export/uml.png.bak
publication_year/code/data/db.properties
