publication_year/code/src/__pycache__/
publication_year/code/src/test.py
.vscode/
publication_year/diagrams/editor/diagrams.asta.lock
publication_year/diagrams/export/activity.png.bak
publication_year/diagrams/export/uml.png.bak
